@page
@model ExRazorPage.Pages.IndexModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Heading.Title</h1>
    <hr />
    <h2>@Model.SubHeading</h2>
    <form method="post">
        <label asp-for></label>
    </form>
</body>
</html>