@model demobaitap.Models.AppMessage

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h1>@Model.Message</h1>
        <hr />
        <h2>@ViewBag.Message</h2>
        <form method="post" asp-controller="Home" asp-action="Index">
            <label asp-for="Message">Enter Message: </label>
            <br />
            <input type="text" asp-for="Message" />
            <br /> <br />
            <button type="submit">Submit</button>
        </form>
    </body>
    </html>